*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    padding: 0 10px;

}

.ekart-search{
    padding: 0 3vh;

}
.call-to-action {
    background-color: #282828;
    color: #fff;
    width: 100%;
    padding: 10px 0px;
  }